#Dictionary

Dictionary can be defined as a collection of data stored in key/value pairs. Keys must be an immutable data type (such as string, integer or tuple), while values in a dictionary can be any Python data type.

In [11]:
matplotlibgroup = {"Member1": "Tobias", "Member2": "Daud", "Member3": "Rere", 'Member4':'Sari', 'Member5':'Fitri'}

In [3]:
type(matplotlibgroup)

dict

In [4]:
print(matplotlibgroup)

{'member1': 'Tobias', 'Member2': 'Daud', 'Member3': 'Rere', 'Member4': 'Sari', 'Member5': 'Fitri'}

When we use dictionary, We can't call the data by his position (by the index)

In [6]:
print(matplotlibgroup[1])

KeyError: ignored

When we use dictionary, to call the data must to call the key so the value will appear

In [13]:
print(matplotlibgroup['Member1'])

Tobias

In [15]:
print(matplotlibgroup['Member5'])

Fitri

we can't call the key by calling the value, therefore dictionary value is not the opposite

In [29]:
print(matplotlibgroup["Daud"])

KeyError: ignored

We can Add Dictionary value by make new key and value

In [16]:
matplotlibgroup['Mentor']='Suwarti'

In [17]:
print(matplotlibgroup)

{'Member1': 'Tobias', 'Member2': 'Daud', 'Member3': 'Rere', 'Member4': 'Sari', 'Member5': 'Fitri', 'Mentor': 'Suwarti'}

When use dictionary, we can replace the existing value by calling the key and replace with new data/value

In [18]:
matplotlibgroup['Member1']='Baru'

In [19]:
print(matplotlibgroup)

{'Member1': 'Baru', 'Member2': 'Daud', 'Member3': 'Rere', 'Member4': 'Sari', 'Member5': 'Fitri', 'Mentor': 'Suwarti'}

To make Dictionary Keys must be an immutable data type (such as string, integer or tuple), while values in a dictionary can be any Python data type

In [25]:
NewArr={'1':'Me', 2:20, 3:170.15}

In [23]:
print(NewArr)

{'1': 'Me', 2: 20, 3: 3.15}

In [28]:
print(NewArr[2])

20

In [24]:
print(NewArr["1"])

Me

In [27]:
print(NewArr[3])

170.15