#Python Datatypes Group Matplotlib
#####Member:
<ol type 1> <li>Tobias Mikha Sulistiyo</li>
            <li>Daud Ibadurahman</li>
            <li>Putri Reghina Hilmi Prasasti</li>
            <li>Sari Yuliastuti</li>
            <li>Fitri Alfaqrina</li></ol>

#List#

List is an ordered sequence of items. It is one of the most used datatype in Python. List is very flexibles, all the items in a list do not need to be of the same type.

Declaring a list is pretty straight forward. Items separated by commas are enclosed within brackets [  ].

###Creating a List###

In [ ]:
a = ["Saturday", 19, 9.25, 2022]
print (a)

['Saturday', 19, 9.25, 2022]

In [124]:
type (a)

list

###Access an Element in the List###

We can use the slicing operator [ ] to access an element of the List by index. The index starts from 0 in Python.

In [ ]:
print (a[0])
print (a[1])
print (a[2])
print (a[3])

Saturday
19
9.25
2022

Because the index in python starts from 0, then if there are n elements in the list, the index of the elements in the list is only up to n-1.
Trying to access indexes other than these will raise an Error. The index must be an integer. We can't use float or other types, this will result an Error.

In [ ]:
print(a[3.5])

TypeError: ignored

In [ ]:
print(a[4])

IndexError: ignored

###Negative Indexing###

Python allows negative indexing for its sequences. The index of -n refers to the n last item in the List.

In [ ]:
print(a[-1])
print(a[-4])

2022
Saturday

###List Slicing###

We can access a range of items in a List by using the slicing operator (:).
<br>When using List slicing, a [ m:n ], means returning list elements from element with index m to elemen with index n-1.

In [14]:
print (a[0:2])
#return list 'a' with elements at index 0 and 1

['Saturday', 19]

In [13]:
print (a[1:4])
#return list 'a' with elements at index 1, 2, and 3

[19, 9.25, 2022]

In [15]:
print (a[:3])
#return list 'a' from beginning to index 2

['Saturday', 19, 9.25]

In [16]:
print (a[1:])
#return list 'a' from index 1 to end

[19, 9.25, 2022]

###Change List Elements###

Lists are mutable, their elements can be changed.
<br>We can use the assignment operator = to change an item or a range of items.

In [30]:
group = ["M","a","t","p","l","o","o","l","i","b"]
print (group)

['M', 'a', 't', 'p', 'l', 'o', 'o', 'l', 'i', 'b']

In [31]:
group[6] = "t"
#change element list 'group' at index 6

In [32]:
print (group)

['M', 'a', 't', 'p', 'l', 'o', 't', 'l', 'i', 'b']

In [33]:
group[0:3] = [1,2,3]
#change element list 'group' at index 0, 1, and 2

In [34]:
print (group)

[1, 2, 3, 'p', 'l', 'o', 't', 'l', 'i', 'b']

###Add List Elements

Elements in a list can be added by using append(), extend(), or insert() methods.

####append ()
<p>Adds an element to the end of the list.

In [39]:
b = [1,2,3,"n","o"]
print (b)

[1, 2, 3, 'n', 'o']

In [40]:
b.append("w")
#adding an element to the end of the list 'b'

In [41]:
print (b)

[1, 2, 3, 'n', 'o', 'w']

####extend()###
<p>Adds all elements of a list to another list</p>

In [42]:
b

[1, 2, 3, 'n', 'o', 'w']

In [45]:
b.extend(["d","o"," ","i","t"])

In [46]:
print (b)

[1, 2, 3, 'n', 'o', 'w', 'd', 'o', ' ', 'i', 't']

####insert()####
<p>Inserts an item at the defined index.
<br>insert(i,x) means adds an item x at index i.</p>

In [47]:
b

[1, 2, 3, 'n', 'o', 'w', 'd', 'o', ' ', 'i', 't']

In [48]:
b.insert(3,4)
#adding item 4 at index 3

In [49]:
print (b)

[1, 2, 3, 4, 'n', 'o', 'w', 'd', 'o', ' ', 'i', 't']

###Delete List Elements###

We can delete one or more items from a list using the Python del statement. It can even delete the list entirely. <br>
We also can use remove() to remove the given item or pop() to remove an item at the given index.

####del

In [75]:
c = [19, 3, 2022, 10.43, "a", "m"]
print (c)

[19, 3, 2022, 10.43, 'a', 'm']

In [76]:
del c[3]
#deleting item of the list 'c' at index 3

In [77]:
print (c)

[19, 3, 2022, 'a', 'm']

####remove()####
<p>Removes an item from the list.</p>

In [78]:
c

[19, 3, 2022, 'a', 'm']

In [79]:
c.remove('a')
#remove item "a" in the list c

In [80]:
print (c)

[19, 3, 2022, 'm']

####pop()####
<p>Removes an element at the given index. Element that will be remove will be displayed at output. </p>

In [81]:
c

[19, 3, 2022, 'm']

In [82]:
c.pop(3)
#remove list 'c' element at index 3

'm'

In [83]:
print(c)

[19, 3, 2022]

####len() and count() in List###

####len()####
<p>len() used to find out the length (number of items or elements) in a List.</p>

In [88]:
d = ["s",1,"a",2,"r",3,"a",4,4,"r","i"]
print (d)

['s', 1, 'a', 2, 'r', 3, 'a', 4, 4, 'r', 'i']

In [89]:
len(d)
#find out the length of the list 'd'

11

####count()####
<p>count(x) returns the count the number of elements x in the List.</p>

In [90]:
d

['s', 1, 'a', 2, 'r', 3, 'a', 4, 4, 'r', 'i']

In [92]:
d.count("r")

2

In [93]:
d.count(4)

2

###sort() and reverse() in the List

####sort()####
<p>Sort items in a list in ascending order.</p>

In [103]:
e = [56,77,84,33,24,58,1,2022]
f = ["s","a","t","u","r","d","a","y"]
print (e)
print (f)

[56, 77, 84, 33, 24, 58, 1, 2022]
['s', 'a', 't', 'u', 'r', 'd', 'a', 'y']

In [104]:
e.sort()
f.sort()

In [105]:
print (e)
print (f)

[1, 24, 33, 56, 58, 77, 84, 2022]
['a', 'a', 'd', 'r', 's', 't', 'u', 'y']

####reverse()####
<p>Reverse the order of items in the list.</p>

In [107]:
e

[1, 24, 33, 56, 58, 77, 84, 2022]

In [108]:
f

['a', 'a', 'd', 'r', 's', 't', 'u', 'y']

In [109]:
e.reverse()
f.reverse()

In [110]:
print (e)
print (f)

[2022, 84, 77, 58, 56, 33, 24, 1]
['y', 'u', 't', 's', 'r', 'd', 'a', 'a']

###index() in the List###

Index method in the List used to returns the index of the first matched item

In [114]:
g = [1,2,4,5,1,7,9,10,4,7]
print (g)

[1, 2, 4, 5, 1, 7, 9, 10, 4, 7]

In [115]:
g.index(4)

2

Trying to access element other than element in the list will raise an Error.

In [116]:
g.index(0)

ValueError: ignored