#Set

Sets are used to store multiple items in a single variable.

In [1]:
group={1,'Me',0.37}

In [2]:
type(group)

set

When using data set if there are duplicate items, it will only show 1 item.

In [12]:
example1={8,9,8,8,7,9,9,7,7,'a','a','d',3,3,5,2,2,1,1,'c','c','b','b'}

In [18]:
len(example1)

11

Set data type are unordered, it means that the items in a set do not have a defined order

In [9]:
print(example1)

{1, 2, 3, 'b', 5, 'c', 7, 8, 9, 'd', 'a'}

Set data type are unsubscriptable, it means that set are not callable by index or position

In [17]:
print(example1[0:4])

TypeError: ignored

Set data type are Unchangeable, it means that we can't replace the value which is in set

In [19]:
example1[2]='coba'

TypeError: ignored

In [25]:
example1['c']='me'

TypeError: ignored

When we use Set, we can't replace or change value in set. But We can add and remove value in set

In [21]:
example1.add(321)

In [22]:
print(example1)

{1, 2, 3, 'b', 5, 'c', 7, 8, 9, 321, 'd', 'a'}

In [23]:
example1.remove('b')

In [24]:
print(example1)

{1, 2, 3, 5, 'c', 7, 8, 9, 321, 'd', 'a'}