#Tuple#

Tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.
<br>Tuple generally used for data that is one-time write and can be executed quickly. <br>Tuple are defined by parentheses ( ) and elements separated by commas.

###Creating a Tuple###

A tuple is created by placing all the items (elements) inside parentheses ( ), separated by commas. A tuple can have any number of items and they may be of different types (integer, float, list, string, etc.).

In [4]:
pathway = ("DST_B", 50, 19.0,"PM")
print (pathway)

('DST_B', 50, 19.0, 'PM')

In [13]:
type (pathway)

tuple

Creating a tuple with one element is a bit tricky.
<br>Having one element within parentheses is not enough. We will need a trailing comma to indicate that it is, in fact, a tuple.

In [9]:
fruit = ("banana")
print (fruit)

banana

In [10]:
type (fruit)

str

In [11]:
fruits = ("banana", "watermelon", "grapes")
print (fruits)

('banana', 'watermelon', 'grapes')

In [12]:
type (fruits)

tuple

###Accesses Element in the Tuple####

Same as in list we can use the slicing operator [ ] to access an element of the Tuple by index. The index starts from 0 in Python. <br>
We also can access a range of items in a Tuple by using the slicing operator (:).
When using Tuple slicing, b [ m:n ], means returning tuple b elements, from element with index m to elemen with index n-1.

In [16]:
b = (21, 'Fitri', 2, 5, 'i')
print (b)

(21, 'Fitri', 2, 5, 'i')

In [18]:
print (b[0])
print (b[1])
print (b[4])

21
Fitri
i

In [19]:
print (b[3:5])
#return tuple b with elements at index 3 and 4

(5, 'i')

In [20]:
print (b[:2])
##return tuple b with elements from beginning to index 1

(21, 'Fitri')

Same as List, negative index can also be used in Tuple.

In [22]:
print (b[-3])
print (b[-1])

2
i

####Difference Between List and Tuple####

The difference between the Tuple and List is we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In [23]:
b

(21, 'Fitri', 2, 5, 'i')

In [24]:
type (b)

tuple

In [26]:
c = [21, "Fitri", 2.5, 'i']
print (c)

[21, 'Fitri', 2.5, 'i']

In [27]:
type(c)

list

In [28]:
b[0] = 22

TypeError: ignored

In [30]:
c[0] = 22
print (c)

[22, 'Fitri', 2.5, 'i']

###Deleting Element in the Tuple###

As discussed above, we cannot change the elements in a tuple. It means that we cannot delete or remove items from a tuple.

In [31]:
b

(21, 'Fitri', 2, 5, 'i')

In [32]:
del (b[0])

TypeError: ignored

But we can delete the Tuple entirely using del.

In [33]:
del b

In [34]:
print (b)

NameError: ignored